body {
	font-family: 'Indie Flower', cursive;
	font-size: 30px;
	padding: 40px;
	margin: 30px;
	background-color: #28204d;
}

h1 {
	text-align: center;
	color: #a6a3b5;
	margin: 30px 0 50px;
	font-family: 'Indie Flower', cursive;
	font-size: 50px;
}


h4 {
	text-align: center;
	color: #a6a3b5;
	margin: 30px 0 50px;
	font-family: 'Indie Flower', cursive;
}


.gallery {
	margin: 20px 50px;
}

.gallery img {
	width: 350px;
	padding: 5px;
	filter: grayscale(100%);
	transition: 1s;
}

.gallery img:hover {
	filter: grayscale(0);
	transform: scale(1.1);
}

nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	color: #a6a3b5;
	font-family: 'Indie Flower', cursive;
}

.nav-links{
	display: flex;
	color: #a6a3b5;
	justify-content: space-around;
	width :30%;
}

.nav-links {
	list-style: none;
}



.nav-links a{
	color: #a6a3b5;
	text-decoration: none;
	letter spacing: 10px;
	font-weight: bold;
	font-size: 20px;
	font-family: 'Indie Flower', cursive;
}


.logo {
	color: #a6a3b5;
	text-transform: uppercase;
	letter-spacing: 12px;
	font-size: 20px;
}

